.header-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px; /* Отступ между фото и текстом */
}

/* Фото слева */
.photo-info-container {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 15px;
}

.photo-container {
    width: 150px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

/* Текст справа */
.info {
    font-size: 16px;
    line-height: 1.5;
}
